*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
# Keep google-services.json out of public repos in real projects:
app/google-services.json
